


.dashboard {
  display: flex;
  overflow-y: hidden;
 
  min-height: 100vh;
  max-height: 1384px;
  min-width: auto;
  max-width: 1440px;

  .dashboardContainer {
    margin-left: 235px;
    margin-top: 60px;
    padding: 40px;
    width: 100%;
    height:auto ;
    overflow-y: hidden;

  }

  @media (max-width: 1156px) {
  
      .dashboardContainer{
        margin-left: 0px;
        
      }
    
  }
}
