.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.07);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .wrapper-1 {
      display: flex;
      padding-right: 15px;
      width: 100%;
      justify-content: space-between;

      .logo {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 7px;
        margin-left: 20px;
        width: 100%;
      }

      .search {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 40px;
        width: 100%;

        .input {
          display: flex;
          width: 50%;
          flex: 1 1 auto;
          min-width: 0px;
          max-width: 350px;
          outline: none;
          height: 25px;
          padding: 0px;
          padding-left: 12px;
          border: 1.7px solid #545f7d;
          border-radius: 6px 0px 0px 6px;
          font-size: 12px;
          border-right: 0px;
          opacity: 0.4;
        }

        .search-2 {
          border-left: 0px;
          border-radius: 0px 6px 6px 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 28px;
          background-color: #39cdcc;
          width: 45px;
          cursor: pointer;
        }
      }
    }
    .wrapper-2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .items {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 7px;
        margin-right: 20px;

        .item1 {
          margin-right: 28px;
          text-decoration: underline;
          font-size: 10px;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 19px;
          color: #213f7d;
        }

        .item2 {
          margin-right: 15px;
        }

        .item3 img {
          height: 28px;
          width: 28px;
        }

        p {
          font-family: "Work Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 19px;
          color: #213f7d;
        }
      }
    }
  }
}
