.datatable {
  display: flex;
  flex-direction: column;
  background: transparent;

  .first-section {
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #545f7d;

    .back-to-users {
      padding: 2px 6px;
      border-radius: 3px;
      &:hover {
        background: #545f7d22;
      }
    }
  }

  .second-section {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-top: 25px;

    .second-section-1 {
      font-style: normal;
      font-weight: 450;
      font-size: 22px;
      line-height: 28px;
      color: #213f7d;

      @media (max-width: 600px) {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        margin-bottom: 30px;
      }
    }
    .second-section-2 {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      @media (max-width: 600px) {
        display: flex;
        justify-content: start;
        align-items: start;
        margin-bottom: 30px;
      }

      .second-section-3 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #e4033b;
        border: 1.2px solid #e4033b;
        padding: 12px 10px;
        border-radius: 8px;

        &:hover {
          background: #e4033b54;
        }
      }
      .second-section-4 {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #39cdcc;
        border: 1.2px solid #39cdcc;
        padding: 12px 10px;
        border-radius: 8px;

        &:hover {
          background: #39cdcd4a;
        }
      }
    }

    @media (max-width: 600px) {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }

  .third-section {
    height: 210px;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    margin: 40px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;

    .third-section-1 {
      height: 75%;
      display: flex;
      justify-content: start;
      align-items: center;

      padding-left: 30px;

      .third-section-2 {
        height: 100px;
        width: auto;
        display: flex;
        gap: 25px;
        align-items: center;

        .third-section-3 {
          background-color: #21407d23;
          border-radius: 50px;
          min-width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .third-section-4 {
          display: flex;
          min-width: 120px;
          height: 80px;
          color: black;
          justify-content: center;
          align-items: start;
          flex-direction: column;
          gap: 5px;

          h3 {
            font-style: normal;
            font-weight: 450;
            font-size: 20px;
            line-height: 26px;
            color: #213f7d;
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 16px;
            color: #545f7d;
          }
        }

        .third-section-5 {
          display: flex;
          flex-direction: column;
          gap: 7px;
          justify-content: center;
          align-items: center;
          min-width: 120px;
          height: 80px;
          margin: 0px 15px 0px 5px;
          border-right: 1px solid #545f7d41;
          border-left: 1px solid #545f7d41;

          p {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #545f7d;
          }

          .svg {
            display: flex;
            gap: 5px;
            align-items: start;
            justify-content: start;
          }
        }

        .third-section-6 {
          display: flex;
          flex-direction: column;
          gap: 5px;

          h3 {
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            color: #213f7d;
          }

          p {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #213f7d;
          }
        }
      }
    }

    .third-section-7 {
      display: flex;
      justify-content: space-between;
      align-items: end;
      height: 25%;
      min-width: 600px;
      padding: 0px 30px;

      .classlist {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 19px;
        text-align: center;
        color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 7px 10px;
        white-space: nowrap;
        cursor: pointer;
        border-bottom: 1.2px solid transparent;

        &.current {
          color: #39cdcc;
          border-bottom-color:#39cdcc;
        }

        &:hover{
          color: #39cdcc;
          border-bottom-color:#39cdcc;
        }
      }
    }
  }

  .fourth-section{
    height: auto;
    background: #ffffff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    margin: 40px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
  }
}
